<h2>User info</h2>
  <%= render 'users/user_info', user: @user %>

<h2>New Book</h2>
  <%= render 'new_book', book: @book_new %>

<h2>Book detail</h2>
  <table>
    <tr>
      <th><%= image_tag @book.user.get_profile_image(100,100) %></th>
      <th>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </th>
      <th><%= @book.body %></th>
      <% if @book.user == current_user %>
        <th><%= link_to 'Edit', edit_book_path(@book) %></th>
        <th><%= link_to 'Destroy', book_path(@book), method: :delete %></th>
      <% end %>
    </tr>
  </table>