<h2>Book detail</h2>
  <table>
    <tr>
      <th></th>
      <th>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </th>
      <th><%= @book.body %></th>
      <% if @book.user == current_user %>
        <th><%= link_to 'Edit', edit_book_path(@book) %></th>
        <th><%= link_to 'Destroy', book_path(@book), method: :delete %></th>
      <% end %>
    </tr>
  </table>